 .container {
     background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/107/078/original/background.jpg?1702493515);
     background-color: rgba(0, 0, 0, 0.5);
     max-width: 800px;
     margin: 20px auto;
     padding: 15px 60px;
     font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
         "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
 }

 h1 {
     text-align: center;
     font-size: 40px;
     text-transform: uppercase;
     border: thick double black;
     padding: 5px 0;
 }

 h2 {
     text-align: center;
     font-style: italic;
     font-size: 26px;
     color: #126b69;
     text-shadow: black 1px 0 25px;
     margin: 35px auto;
 }

 img {
     display: block;
     margin: 0 auto;
     max-width: 100%;
     border-radius: 6px;
 }

 hr {
     background-color: #126b69;
     height: 2px;
     border: 0;
     margin: 35px auto;
     width: 40%;
 }

 p {
     line-height: 1.5;
     font-size: 16px;
     margin: 20px 0 10px;
 }

 .info-link {
     text-decoration: none;
     font-weight: 500;
     color: #126b69;
 }

 .info-link:hover {
     text-decoration: underline;
     cursor: pointer;
 }

 .booking {
     display: block;
     margin: 45px auto 65px auto;
     background: #865540;
     color: #e2d1c3;
     font-size: 18px;
     text-transform: uppercase;
     padding: 15px 20px;
     border: none;
     border-radius: 6px;
     box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
     transition: all 150ms ease-in-out;
 }

 .booking:hover {
     text-decoration: none;
     background: #e2d1c3;
     color: #865540;
     cursor: pointer;
 }

 .footer {
     text-align: center;
     font-size: 12px;
     opacity: 0.8;
 }